{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h4>Something went horribly wrong.</h4>
    <p>
        Please try your action again -- if it continues to happen, please send
        me a message on twitter at <a href="https://twitter.com/filamentcolors">@filamentcolors</a>
        or send me an email at <a href="mailto:filamentcolorsxyz@joekaufeld.com">filamentcolorsxyz@joekaufeld.com</a>
        explaining how the error triggered and I'll do my best to take a look. Cheers!
    </p>
    <a class="btn btn-primary btn-lg" href="/library" role="button">Back to the library!</a>
</div>
{% endblock content %}
