{% extends base_template %}

{% block content %}
  <div class="container text-center mt-5">
    <h4>Something went horribly wrong.</h4>
    <p>
      Please try your action again -- if it continues to happen, please send
      me an email at <a href="mailto:joe@filamentcolors.xyz?subject=Site%20Error">joe@filamentcolors.xyz</a>
      explaining how the error triggered and I'll do my best to take a look. Cheers!
    </p>
    <a class="btn btn-primary btn-lg" href="/library" role="button">Back to the library!</a>
  </div>
{% endblock content %}
