{% extends base_template %}

<div class="flex-fill mb-5">
    <div class="container flex-shrink-0 mt-3" style="height:100%; width: 100%">
        <table style="width: 100%; height: 90%" class="mx-auto">
            <tbody>
            <tr>
                <td class="align-middle">
                    <table style="height: 100%; width: 100%">
                        <tbody>
                        <tr>
                            <td class="align-middle">
                                <div
                                        class="text-center"
                                        data-hx-get="{{ next_url }}"
                                        data-hx-push-url="{{ next_url }}"
                                        data-hx-trigger="load"
                                        data-hx-swap="outerHTML"
                                >
                                    <div class="spinner-border my-5" style="width: 7rem; height: 7rem;"
                                         role="status">
                                        <span class="visually-hidden">Loading...</span>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
