<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'partials/head.partial' %}
    {% if swatch %}
        <title>{{ swatch.manufacturer.name }} - {{ swatch.color_name }} {{ swatch.filament_type.name }}</title>
    {% elif post %}
        <title>{{ post.title }}</title>
    {% else %}
        <title>FilamentColors</title>
    {% endif %}
</head>

<body
        hx-target="#main"
        hx-boost="true"  {# Make all <a> tags htmx-compatible. #}
        hx-swap="outerHTML"  {# Always swap the full element and the target. #}
        hx-push-url="true" {# Update the URL that displays in the browser. #}
        hx-indicator="#loading" {# The location of the loading spinner. #}
>
{% include 'partials/navbar.partial' %}

{% if launch_welcome_modal %}
    {% include 'modals/welcome_modal.partial' %}
{% endif %}

<noscript>
    {% include 'partials/no-js-alert.partial' %}
</noscript>

{% include 'partials/loading_screen.partial' %}

<main id="main">
    {% block content %}
    {% endblock content %}
</main>

{% include 'partials/footer.partial' %}
</body>
</html>
