<!DOCTYPE html>
<html>
<head>
    {% include 'partials/head.partial' %}
    {% if swatch %}
        <title>{{ swatch.manufacturer.name }} - {{ swatch.color_name }} {{ swatch.filament_type.name }}</title>
    {% elif post %}
        <title>{{ post.title }}</title>
    {% else %}
        <title>FilamentColors</title>
    {% endif %}
</head>

<body>
{% include 'partials/navbar.partial' %}

{% if launch_welcome_modal %}
    {% include 'modals/welcome_modal.partial' %}
{% endif %}

<noscript>
    {% include 'partials/no-js-alert.partial' %}
</noscript>

{% include 'partials/loading_screen.partial' %}

<main id="main">
    {% block content %}
    {% endblock content %}

    {% if is_library_view %}
        {# This has to be below the content #}
        {% include 'partials/multiselect_js.partial' %}
    {% endif %}
</main>

{% include 'partials/footer.partial' %}
</body>
</html>
