{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1>Filament Donations</h1>
        <p>
            Help expand the library! This site is mostly powered by filament donations,
            either from manufacturers directly or fellow hobbyists. This isn't my job
            (though I do have a lot of fun with it) so I can't afford to bring you all
            the filaments on the face of the earth... but you can help with that!
        </p>
        <p>
            If you have a filament that I don't, I want to make it easy for you to get
            that filament to me so that we can get it in the library. Here's the important
            part before we get to the details:
        </p>
        <div class="container mt-3">
            <div class="alert alert-info" role="alert">
                If you need help with shipping, I have a budget of $100 a month to pay
                shipping costs for anyone that needs or wants reimbursement -- all I need
                is a receipt from your shipping provider of choice.
            </div>
        </div>
        <h2>Supplies Needed</h2>
        <ul>
            <li>
                Sandwich Baggies (I use something like
                <a href="https://amzn.to/37xaDB6" target="_blank">this</a>
                but you can get them cheaper at your local dollar store)
            </li>
            <li>
                Pen / pencil
            </li>
            <li>
                Knife or scissors
            </li>
            <li>
                A padded envelope to ship in (more info on that later)
            </li>
        </ul>
        <p>
            You can use something else to hold the filament if you'd like; the important
            part is that the labels you print out in the next part stay with the proper
            coils. Little baggies are tried and tested, so that's what I recommend.
        </p>
        <h2>
            Process
        </h2>
        <h4>Gather your filaments</h4>
        <p>
            Start by printing out <a
                href="https://docs.google.com/document/d/1IOmYzft4akuNpfyuu-GmaP0aUmXXBQMo6uXBWCKYRtk/edit?usp=sharing"
                target="_blank">
            this page</a>.
            Print and cut out as many of the little cards as you need; one for each
            sample, please. Cut a 1-2 meter length from each filament, fill out one of the
            cards, and drop it inside a sandwich bag. Don't worry about writing your name
            on each card -- as long as at least one card has the information then it will
            be fine. I'll use this to credit you on the site, so write whatever you'd like
            to appear; a screen name, first name + last initial, full name; whatever you're
            comfortable with.
        </p>
        <p>
            I can take almost any kind of filament that isn't a super-high-temp exotic:
        </p>
        <div class="container">
            <div class="row">
                <div class="col-sm-0 col-md-1"></div>
                <div class="col-sm-6 col-md-2 d-flex justify-content-center">
                    <h4>
                        <span class="badge badge-secondary">
                            PLA
                        </span>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-2 d-flex justify-content-center">
                    <h4>
                        <span class="badge badge-secondary">
                            ABS / ASA
                        </span>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-2 d-flex justify-content-center">
                    <h4>
                        <span class="badge badge-secondary">
                            PETG
                        </span>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-2 d-flex justify-content-center">
                    <h4>
                        <span class="badge badge-secondary">
                            Nylon
                        </span>
                    </h4>
                </div>
                <div class="col-sm-6 col-md-2 d-flex justify-content-center">
                    <h4>
                        <span class="badge badge-secondary">
                            TPU / TPE
                        </span>
                    </h4>
                </div>
                <div class="col-sm-0 col-md-1"></div>
            </div>
        </div>
        <p class="mt-2">
            At the moment, I can only accept <b>1.75mm</b> filament. If you have 3mm filament
            and a 3mm printer, please <a href="https://twitter.com/messages/compose?recipient_id=1101685845055148032&text=3mm%20Donation%20Question"
                  target="_blank">get in touch</a>. If whatever types / sizes you have aren't
            among those listed, ping me on Twitter
            <a href="https://twitter.com/messages/compose?recipient_id=1101685845055148032&text=Filament%20Question"
                  target="_blank">here</a> to make sure that I can print it.
        </p>
        <h4>Prepare to ship</h4>
        <p>
            Most flat-rate packaging (or whatever is designed for small, mostly flat things)
            will work for shipping filament. If you're in the US, the USPS has Priority Mail
            Flat-Rate padded envelopes that work well. Stick your filament bags in there and
            address it as follows:
        </p>
        <div class="row">
            <div class="col-sm-0 col-md-4"></div>
            <div class="col-sm-12 col-md-4">
                <div class="alert alert-info text-center">
                    Joe Kaufeld<br>
                    FilamentColors.xyz<br>
                    1701 E. Edgewood Ave #17247<br>
                    Indianapolis, IN 46217
                </div>
            </div>
            <div class="col-sm-0 col-md-4"></div>
        </div>
        <div class="container">
            <div class="alert alert-warning" role="alert">
                If it would be cheaper for you to ship to Europe, FilamentColors.xyz has
                partnered with
                <a class="alert-link" href="https://www.3dgeeks.app">3D Geeks App</a>
                in the Netherlands to serve as an alternate shipping destination. Hop in
                the <a class="alert-link" href="https://www.3dgeeks.app/u/discord-server">
                3D Geeks Discord</a> and ask for <b>@Toby</b> for additional information!
            </div>
        </div>
        <p>
            If you can, please let me know that you're planning to send things my way. It
            helps in both the planning department (watching out for packages) and also allows
            me to confirm that whatever samples you have aren't already in the pipeline so
            that we don't accidentally get duplicates. Send me a message on Twitter here:
            <a href="https://twitter.com/messages/compose?recipient_id=1101685845055148032&text=Filament%20Donation"
                  target="_blank">@filamentcolors</a>.
        </p>
        <h4>Ship that sucker!</h4>
        <p>
            Drop your package in the mail (hopefully after letting me know that it's coming)
            and I'll get your filaments indexed as soon as I can. Because this is a hobby, the
            current queue is roughly a month or two... but they will get added! Feel free to
            follow up and make sure that I've received them.
        </p>
        <h3>Final Thoughts</h3>
        <p>
            Thank you so much for considering donating to the library. The more colors we
            add, the more useful this site is to everyone. Most of the colors I have are
            only easily available in the U.S., so I <i>definitely</i> want to hear from you
            if you live elsewhere!
        </p>
        <p>
            Cheers and happy printing!
        </p>
    </div>
{% endblock %}
