{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="container mt-4">
        <h1>{{ header }}</h1>
        <h4>{{ subheader }}</h4>

        {% if header_js_buttons or header_link_buttons %}
            <div class="row">
                {% for item in header_js_buttons %}
                    <div class="col mt-2">
                        <button class="btn btn-info btn-block"
                                onclick="{{ item.onclick }}">{{ item.text }}</button>
                    </div>
                {% endfor %}
                {% for item in header_link_buttons %}
                    <div class="col mt-2">
                        <a href="{% url item.reverse_url %}"
                           class="btn btn-info btn-block">{{ item.text }}</a>
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <div class="container mt-3">
            {# Lifted from https://simpleisbetterthancomplex.com/article/2017/08/19/how-to-render-django-form-manually.html#}
            {% if form.is_multipart %}
                {# properly handle the file uploads #}
                <form novalidate enctype="multipart/form-data" method="post" action="">
            {% else %}
                <form novalidate method="post" action="">
            {% endif %}
            <div class="errorMessages"></div>
            {% csrf_token %}
            {% for hidden_field in form.hidden_fields %}
                {{ hidden_field }}
            {% endfor %}

            {% if form.non_field_errors %}
                <div class="alert alert-danger" role="alert">
                    {% for error in form.non_field_errors %}
                        {{ error }}
                    {% endfor %}
                </div>
            {% endif %}

            {% for field in form.visible_fields %}
                <div class="form-group">
                    {{ field.label_tag }}

                    {% if form.is_bound %}
                        {% if field.errors %}
                            {% render_field field class="form-control is-invalid" %}
                            {% for error in field.errors %}
                                <div class="invalid-feedback">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% else %}
                            {% render_field field class="form-control is-valid" %}
                        {% endif %}
                    {% else %}
                        {% if field.field.widget.input_type == 'file' %}
                            <div class="btn-group-toggle">
                                <label for="{{ field.auto_id }}"
                                       class="form-control-file btn btn-secondary">browse</label>
                                {% render_field field class="inputfile" style="visibility:hidden;margin-top:-30px" %}
                            </div>
                        {% else %}
                            {% render_field field class="form-control" %}
                        {% endif %}
                    {% endif %}

                    {% if field.help_text %}
                        <small class="form-text text-muted">{{ field.help_text }}</small>
                    {% endif %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            var inputs = document.querySelectorAll('.inputfile');
            Array.prototype.forEach.call(inputs, function (input) {
                var label = input.previousElementSibling

                input.addEventListener('change', function (e) {
                    var fileName = '';

                    fileName = e.target.value.split('\\').pop();

                    if (fileName)
                        label.innerText = fileName;
                    else
                        label.innerText = "browse";
                });
            });
            // from https://www.tjvantoll.com/2012/08/05/html5-form-validation-showing-all-error-messages/
            var createAllErrors = function () {
                var form = $(this)
                var errorList = $(".errorMessages");

                var showAllErrorMessages = function () {
                    errorList.innerHTML = "";

                    // Find all invalid fields within the form.
                    var invalidFields = form.find(":invalid").each(function (index, node) {

                        // Find the field's corresponding label
                        var label = $("label[for=" + node.id + "] "),
                            // Opera incorrectly does not fill the validationMessage property.
                            message = node.validationMessage || 'Invalid value.';

                        // jquery won't add the same class multiple times, so we can have
                        // addClass run for each loop.
                        errorList.addClass("mt-3");
                        errorList.append(
                            '<div class="alert alert-danger" role="alert">\n' + label.html() + " " + message + '\n</div>'
                        )
                    });
                };

                // Support Safari
                form.on("submit", function (event) {
                    if (this.checkValidity && !this.checkValidity()) {
                        $(this).find(":invalid").first().focus();
                        event.preventDefault();
                    }
                });

                $("input[type=submit], button:not([type=button])", form)
                    .on("click", showAllErrorMessages);

                $("input", form).on("keypress", function (event) {
                    var type = $(this).attr("type");
                    if (/date|email|month|number|search|tel|text|time|url|week/.test(type)
                        && event.keyCode === 13) {
                        showAllErrorMessages();
                    }
                });
            };

            $("form").each(createAllErrors);
        })
    </script>

    {# Put application-specific imports down here. #}
    {% include "partials/swatch_add_js.partial" %}

{% endblock %}
