<head>
    {% include 'partials/bootstrap.partial' %}
    <title>FilamentColors</title>
</head>

{% include 'partials/navbar.partial' %}

<div class="container mt-4">
    <h2>FilamentColors</h2>
    <p>
        Have you ever wanted to see how two different manufacturer's filaments work
        together under the same light? Have you ever been tasked with figuring out
        what filaments to buy to get the perfect combination, then gotten something
        that's <i>not quite</i> what you were looking for?
    </p>
    <p>
        Filamentcolors.xyz allows you to take a look at different 3D printer filaments
        in all sorts of shades from lots of different manufacturers, allowing you to
        get a better idea of what you want to buy.
    </p>
    <h4>IMPORTANT NOTE:</h4>
    <p>
        This site does not attempt to show you the "true color" of any given filament.
        The goal is to show you how colors of different filaments interact under the
        same light, as all manufacturers have their own samples photographed, but every
        manufacturer uses different lighting / camera setups (so comparing across
        manufacturers is really annoying, if not impossible).
    </p>
    <p>
        Every swatch is photographed under the same (or as similar as possible)
        conditions, then analyzed for the average color across the swatch. That color
        is stored in hex color format, then used to help find colors (and used to help
        find similar colors / complement colors!). It also allows you to grab the hex
        color of the things you see here, then plug those values into any color picker
        site to help you figure out what colors work best for you.
    </p>
    <p>
        Color is startlingly hard. Hopefully this helps you! 😊
    </p>

    <div class="text-center">
        <a class="btn btn-lg btn-outline-primary" href="library/" role="button">Click here to get started!</a>
    </div>



</div>

{% include 'partials/footer.partial' %}
