{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    {% if swatches %}
        <div class="card-deck" id="deck-of-many-things">
            {% for s in swatches %}
                {% include 'partials/card.partial' with obj=s %}
            {% endfor %}
        </div>
    {% else %}
        <div class="container text-center mt-5">
            <h4>Hmm... there doesn't appear to be anything here.</h4>
            <p></p>
            <h4>Did you change your settings?
                Try adjusting the types that are shown in the library.</h4>
            <p></p>
            <div class="btn btn-primary btn-lg"
                 onclick="(function(){ $('#settingsModal').modal('show')})();" role="button">
                Open Settings
            </div>
        </div>
    {% endif %}

</div>
{% endblock content %}
