<head>
    {% include 'partials/bootstrap.partial' %}
    <title>FilamentColors</title>
</head>

{% include 'partials/navbar.partial' %}

{% if launch_welcome_modal %}
    {% include 'partials/welcome_modal.partial' %}
{% endif %}

{% if show_color_warning %}
    {% include 'partials/color-warning.partial' %}
{% endif %}

{% include 'partials/filter_bar.partial' with search_prefill=search_prefill %}

<div class="container mt-4">

    <div class="card-deck" id="deck-of-many-things">
        {% for s in swatches %}
            {% include 'partials/card.partial' with obj=s %}
        {% endfor %}
    </div>
</div>

{#{% include 'partials/multiselect_js.partial' %}#}

{% include 'partials/footer.partial' %}
