<head>
    {% include 'partials/bootstrap.partial' %}
    <title>FilamentColors</title>
</head>

{% include 'partials/navbar.partial' %}

{% if launch_welcome_modal %}
    {% include 'partials/welcome_modal.partial' %}
{% endif %}

{% if show_color_warning %}
    {% include 'partials/color-warning.partial' %}
{% endif %}

{% include 'partials/filter_bar.partial' %}

<div class="container mt-4">

    <div class="card-deck">
        {% for s in swatches %}
            {% include 'partials/card.partial' with obj=s %}
        {% endfor %}
    </div>
</div>

{% include 'partials/footer.partial' %}
