{% extends 'base.html' %}

{% block content %}
    <div class="container mt-4">
        <h1>Writings, Tips, and Tricks</h1>
        {% if posts %}
        <div class="card-deck mt-5">
            {% for obj in posts %}
                <div id="{{ obj.id }}" class="col-md-6 col-lg-4 cardBox anim" align="center">
                    <a href="/post/{{ obj.id }}" class="card mb-4 shadow" style="width: 18rem;">
                        <div class="card-img-container">
                            <div class="card-img-overlay card-img-overlay-two"></div>
                        </div>

                        <div class="card-body" align="left">
                            <h5 class="card-title">{{ obj.title }}</h5>
                            <p class="card-text">{{ obj.subtitle }}</p>
                        </div>
                        <div class="card-footer">
                            <small class="text-muted">Uploaded {{ obj.date_added }}</small>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
        {% else %}
            <h1 class="text-center mt-5">Oops! You found this page before there are any posts on it!</h1>
            <h3 class="text-center">There's nothing here! Come back later and there might be something 😊</h3>
        {% endif %}
    </div>
{% endblock %}
