{% extends "base.html" %}

{% block content %}
{# twitter #}
<meta name="twitter:card" content="summary">
<meta name="twitter:creator" content="@filamentcolors">
<meta name="twitter:site" content="@filamentcolors">
<meta name="twitter:title"
      content="{{ swatch.manufacturer.name }} - {{ swatch.color_name }} {{ swatch.filament_type.name }}">
<meta name="twitter:description" content="{{ swatch.notes }}">
<meta name="twitter:image:src" content="https://filamentcolors.xyz{{ swatch.card_img.url }}">
<meta name="twitter:image:width" content="280">
<meta name="twitter:image:height" content="150">

{# facebook #}
<meta property="og:title"
      content="{{ swatch.manufacturer.name }} - {{ swatch.color_name }} {{ swatch.filament_type.name }}">
<meta property="og:image" content="https://filamentcolors.xyz{{ swatch.card_img.url }}">
<meta name="og:image:width" content="280">
<meta name="og:image:height" content="150">

<div class="container mt-3">
    {% if error %}
        <div class="text-center">
            <h4>{{ error }}</h4>
        </div>
    {% endif %}
    {% if not error %}
        <div class="row border-between">
            <div class="col-md-6">
                <section class="gallery-block grid-gallery">
                    <div class="item">
                        <a class="lightbox" href="{{ swatch.image_front.url }}" title="Swatch Front">
                            <img class="img-fluid image scale-on-hover" src="{{ swatch.image_front.url }}"
                                 alt="An image of the front of the color swatch.">
                        </a>
                    </div>
                    {% if swatch.image_other %}
                        <div class="row">
                            <div class="col-sm-3"></div>
                            <div class="col-sm-3 item">
                                <a class="lightbox" href="{{ swatch.image_back.url }}" title="Swatch Back">
                                    <img class="img-fluid image scale-on-hover" src="{{ swatch.image_back.url }}"
                                         alt="An image of the back of a color swatch, with the manufacturer, type, and color written on it.">
                                </a>
                            </div>
                            <div class="col-sm-3 item">
                                <a class="lightbox" href="{{ swatch.image_other.url }}">
                                    <img class="img-fluid image scale-on-hover" src="{{ swatch.image_other.url }}"
                                         alt="An image of a small object printed with the filament.">
                                </a>
                            </div>
                            <div class="col-sm-3"></div>
                        </div>
                    {% endif %}
                    {% if not swatch.image_other %}
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-4">
                                <a class="lightbox" href="{{ swatch.image_back.url }}" title="Swatch Back">
                                    <img class="img-fluid image scale-on-hover" src="{{ swatch.image_back.url }}"
                                         alt="An image of the back of a color swatch, with the manufacturer, type, and color written on it.">
                                </a>
                            </div>
                            <div class="col-sm-4"></div>
                        </div>
                    {% endif %}
                </section>
            </div>
            <div class="col-md-6 ">
                <div class="text-center">
                    <h2>{{ swatch.manufacturer.name }} - {{ swatch.color_name }} {{ swatch.filament_type.name }}</h2>
                    <div class="big-color-cube" style="background-color:#{{ swatch.hex_color }};"></div>
                    <p>#{{ swatch.hex_color }}</p>
                </div>
                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 gray-background">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col" colspan="2">General Info</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td scope="row">Hot end temp</td>
                                <td>{{ swatch.filament_type.hot_end_temp }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Bed temp</td>
                                <td>{{ swatch.filament_type.bed_temp }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Filament type</td>
                                <td>{{ swatch.filament_type.name }}</td>
                            </tr>
                            <tr>
                                <td scope="row">Date added</td>
                                <td>{{ swatch.date_added_date }}</td>
                            </tr>
                            </tbody>
                        </table>
                        {% if swatch.amazon_purchase_link %}
                            <a class="btn btn-block btn-info" href="{{ swatch.amazon_purchase_link }}" target="_blank"
                               role="button">Buy on
                                Amazon<br><span style="font-size: smaller">(affiliate link)</span></a>
                        {% endif %}
                        {% if swatch.mfr_purchase_link %}
                            <p></p>
                            <a class="btn btn-block btn-success" href="{{ swatch.mfr_purchase_link }}" target="_blank"
                               role="button">Buy from {{ swatch.manufacturer.name }}</a>
                        {% endif %}
                        <p></p>
                    </div>
                    <div class="col-md-1"></div>
                </div>
                <div class="mt-3">
                    {{ swatch.notes }}
                </div>
                <div class="mt-3">
                    <h5>Related colors</h5>
                    <hr>
                </div>
                <div class="row border-between">
                    <div class="col-lg-6">
                        Pure complement:
                        <div class="container text-center">
                            <div class="big-color-cube" style="background-color:#{{ swatch.complement_hex }};"></div>
                            <div>#{{ swatch.complement_hex }}</div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        {% if swatch.complement %}
                            Closest match:
                            <div class="container text-center bump-down">
                                <a style="display:block" class="complement-box"
                                   href="/swatch/{{ swatch.complement.id }}">
                                    <h6>{{ swatch.complement.manufacturer.name }}
                                        - {{ swatch.complement.color_name }} {{ swatch.complement.filament_type.name }}</h6>
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="big-color-cube"
                                                 style="background-color:#{{ swatch.complement.hex_color }}; float:right; left: 1em; bottom: 0.5em;"></div>
                                        </div>
                                        <div class="col-6 text-left">
                                            #{{ swatch.complement.hex_color }}
                                        </div>
                                    </div>
                                </a>
                                <div style="font-size: smaller;">
                                    <a href="/about/#why-is-color-hard" style="color: LightGray">
                                        <u>why is this possibly wrong?</u>
                                    </a>
                                </div>
                            </div>
                        {% endif %}
                        {% if not swatch.complement %}
                            <p></p>
                            No swatch was found in the library that comes close to this color. Sorry!
                        {% endif %}
                    </div>
                </div>
                {% if swatch.complement %}
                    {# This is just to make sure that if someone modifies their library to 0 #}
                    {# swatches then the "show more colors" section won't explode. #}
                    <div class="row bump-down">
                        <div class="col-1"></div>
                        <div class="col-10 bump-down">
                            <button type="button" class="btn btn-outline-secondary btn-block bump-down"
                                    data-toggle="modal"
                                    data-target=".bd-example-modal-lg">Click here for more color combinations!
                            </button>
                        </div>
                        <div class="col-1"></div>
                    </div>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <script>
        baguetteBox.run('.grid-gallery', {animation: 'slideIn'});
    </script>

    {% include 'partials/color-scheme-modal.partial' %}
{% endblock content %}
