{% extends "base.html" %}

{% block content %}
    <div class="container mt-4">
        <h1 class="text-center">Live for VRRF!</h1>
        <div class="row">
            <div class="col-xs-0 col-md-2"></div>
            <div class="col-xs-12 col-md-8">
                <p class="text-center">
                    I'll be doing a livestream on <b>Saturday, April 4</b> at <b>1PM EST</b>
                    for the Virtual Reprap Festival to walk through the tech stack that
                    powers this site, the history behind it, look at some of the math that
                    makes it tick, and do a general Q&A! Got specific questions? Hit me up
                    here:
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-0 col-md-2"></div>
                        <div class="col-xs-12 col-md-8">
                            <a class="btn btn-block btn-outline-primary"
                               href="https://forms.gle/Kgb1LeQD7CpJbhEX7">
                                Submit a question!
                            </a>
                        </div>
                        <div class="col-xs-0 col-md-2"></div>
                    </div>
                </div>
                <p class="mt-3 text-center">
                    We'll go over the code, the process of how swatches work, how they're
                    categorized, and more.
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-0 col-md-1"></div>
                        <div class="col-xs-12 col-md-10">
                            <a class="btn btn-block btn-outline-danger"
                               href="https://youtu.be/uraube0W38Q">
                                Join the livestream!
                            </a>
                        </div>
                        <div class="col-xs-0 col-md-1"></div>
                    </div>
                </div>
                <p class="mt-3 text-center">
                    I'll also be floating around on <b>Sunday, April 6th</b> at some point
                    throughout the day on the regular VRRF livestream -- more info below!
                </p>
                <div class="container">
                    <div class="row">
                        <div class="col-xs-0 col-md-2"></div>
                        <div class="col-xs-12 col-md-8">
                            <a class="btn btn-block btn-outline-warning"
                               href="https://twitter.com/SliceEngineer">
                                VRRF, presented by Slice Engineering
                            </a>
                        </div>
                        <div class="col-xs-0 col-md-2"></div>
                    </div>
                </div>
            </div>
            <div class="col-xs-0 col-md-2"></div>
        </div>

    </div>
{% endblock %}
