{% extends base_template %}
{% load static %}

{% block content %}

  <style>
    :target {
      scroll-margin-top: 120px;
    }
  </style>

  <div class="container mt-4">
    {% include 'partials/messages.partial' %}

    <div class="row g-4">
      <div class="col-lg-3">
        {% comment %}
        The dropdowns in the navbar use 1000 as the z-index, so we need this to render under it.
        {% endcomment %}
        <div class="sticky-lg-top card position-sticky" style="z-index:999 !important" id="outer-faq-list">
          <div class="card-body pb-2">
            <h5 class="card-title mb-3">FAQ</h5>
            <div class="list-group list-group-flush" id="faq-list">
              <a class="list-group-item list-group-item-action" href="#what-does-this-solve">What does this project
                solve?</a>
              <a class="list-group-item list-group-item-action" href="#how-does-it-work">How does it work?</a>
              <a class="list-group-item list-group-item-action" href="#what-equipment-do-you-use">What equipment do you
                use?</a>
              <a class="list-group-item list-group-item-action" href="#why-do-you-call-it-a-library">Why do you call it
                a library?</a>
              <a class="list-group-item list-group-item-action" href="#why-would-you-do-this">Why would you do this?</a>
              <a class="list-group-item list-group-item-action" href="#where-do-the-samples-come-from">Where do the
                samples come from?</a>
              <a class="list-group-item list-group-item-action" href="#can-i-send-you-data">Can I send you color
                data?</a>
              <a class="list-group-item list-group-item-action" href="#why-is-color-hard">Why are the complement
                sections sometimes hilariously wrong?</a>
              <a class="list-group-item list-group-item-action" href="#i-want-to-help">I want to help!</a>
              <a class="list-group-item list-group-item-action" href="#what-runs-this-app">What runs this app?</a>
              <a class="list-group-item list-group-item-action" href="#can-i-print-the-swatches">Can I print the
                swatches and send them in?</a>
              <a class="list-group-item list-group-item-action" href="#what-file-do-you-use">What file do you use?</a>
              <a class="list-group-item list-group-item-action" href="#licensing">Licensing Information</a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-9">
        <h4 id="what-does-this-solve" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#what-does-this-solve"
             aria-label="Permalink to What Does This Project Solve">#</a>
          What does this project solve?
        </h4>
        <p>
          One of the most annoying things in 3D printing is ordering filament,
          waiting for it to arrive, and then finding out that it's completely the
          wrong color for the project you wanted it for. Some manufacturers try to
          get around this by putting Pantone colors on their spools, but certainly
          not everyone does this. (If they did, this app probably wouldn't exist.)
        </p>
        <p>
          Every filament manufacturer has pictures of their product online. It's always
          super easy to compare and contrast different filament colors to make sure
          they'll work for whatever you're planning... as long as you're buying
          everything from the same manufacturer. What do you do if you want to buy
          from two different places?
        </p>
        <p>
          The solution is to get filaments from lots of different manufacturers, print
          with them, measure them, and photograph the results under similar conditions.
          We use colorimetry to show you the measured color of each plastic, then use
          that data (and color theory!) to automatically recommend other colors that
          will look good with it, regardless of manufacturer. If you know what the
          primary color of your project is going to be, let us suggest the other colors
          you should use!
        </p>

        <h4 id="how-does-it-work" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#how-does-it-work"
             aria-label="Permalink to How does it work?">#</a>
          How does it work?
        </h4>
        <p>
          All the images are taken using the same setup and same equipment. After that, we
          use a colorimeter to measure the filament color. We take that data, plug it
          into the site, and use color theory math to suggest other colors for you to check
          out. We also show you the closest Pantone and RAL colors to the observed readings
          from the plastic, so you can see if it'll work well for something you need to
          match in the real world.
        </p>

        <div class="my-3">
          <div class="alert alert-primary" role="alert">
            <strong>Note!</strong> This is a hobby project, so there are certain guarantees
            that we cannot give about how accurate the Pantone / RAL matching actually is.
            You have our personal guarantee that it is as good as we can make it, but we're
            not professionals. Use your best judgement.
          </div>
        </div>

        <p>
          If you're interested in seeing how all this comes together into a application (and
          some of the crazy awesome math that I learned while putting this together), all
          the source code for the app is publicly available on GitHub. Just click the link
          in the footer on any page of the app. (Or
          <a href="https://github.com/itsthejoker/filamentcolors.xyz" target="_blank">click here!</a>)
        </p>

        <h4 id="what-equipment-do-you-use" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#what-equipment-do-you-use"
             aria-label="Permalink to What equipment do you use?">#</a>
          What equipment do you use?
        </h4>
        <ul>
          <li>
            Colorimeter: <a href="https://en.chnspec.com/Product/info.aspx?itemid=852&lcid=246&id=228" target="_blank">
            CHNSpec DS-220 colorimeter</a>
          </li>
          <li>
            Swatchrig: Raspberry Pi HQ Camera w/ 16mm telephoto lens & Raspberry Pi 4, lit
            with 192 95 CRI LEDs
          </li>
          <li>
            Printers:
            <ul>
              <li>
                2x custom Voron 0.2 printers w/ Duet 3 mainboards and E3D Voron Revo hotends
              </li>
              <li>
                1x Prusa MK4S w/ MMU3
              </li>
              <li>
                1x Railcore II 300ZL w/ full aluminum chassis & upgrades for 400C printing
              </li>
            </ul>
          </li>
        </ul>

        <h4 id="why-do-you-call-it-a-library" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#why-do-you-call-it-a-library"
             aria-label="Permalink to Why do you call it a library?">#</a>
          Why do you call it a library?
        </h4>
        <p>
          The filament library, at its core, is a form of reference library. The materials
          we archive are used for reference and research purposes, and are not for sale or
          distribution. We meticulously catalog each sample, record data from them, and
          ensure that the sample is stored in a way that we can reference it in the future.
        </p>
        <p>
          We take archiving very seriously, which is one of the reasons we clearly mark
          user-submitted data we cannot independently verify. We want to make sure that
          the data we have is as accurate as possible so that you are getting the best
          information we can provide.
        </p>

        <h4 id="why-would-you-do-this" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#why-would-you-do-this"
             aria-label="Permalink to Why would you do this?">#</a>
          Why would you do this?
        </h4>
        <p>
          It was very frustrating to me that I couldn't tell ahead of time how different
          filaments would look when I was getting ready to purchase something specifically
          for a project. After all, like most of us, I'm not made of money and 3D printing
          is not a cheap hobby. Buying a color that defies expectations is not fun, so I
          designed this app to help out my own projects and also help others with planning
          their upcoming projects.
        </p>

        <h4 id="where-do-the-samples-come-from" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#where-do-the-samples-come-from"
             aria-label="Permalink to Where do the samples come from?">#</a>
          Where do the samples come from?
        </h4>
        <p>
          Mostly, they come from viewers like you! Over the years, many have come from
          subscription services, many have come from manufacturers themselves, and many
          have come from spools that I've purchased over the years. Most have come through
          independent donations of folks in 3D printing around the world, though! If you're
          interested in donating filament to the library, please take a look at the
          <a href="{% url 'donations' %}">donations page</a>!
        </p>

        <h4 id="can-i-send-you-data" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#can-i-send-you-data"
             aria-label="Permalink to Can I send you color data?">#</a>
          Can I send you color data?
        </h4>
        <p>
          Unfortunately, no. We need to have the plastic on hand for measurements and for
          archival afterwards; we can't take this data from other sources. If you're
          interested in donating filament to the library, please take a look at the
          <a href="{% url 'donations' %}">donations page</a>!
        </p>

        <h4 id="why-is-color-hard" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#why-is-color-hard"
             aria-label="Permalink to Why are the complement sections sometimes hilariously wrong?">#</a>
          Why are the complement sections sometimes
          hilariously wrong?
        </h4>
        <p>
          Computers don't see color the same way humans do; there are many very long
          and very involved research papers on the subject, none of which I'm qualified
          to speak on. Color matches are as close as we can get with the color library
          we currently have and the color math used. Complements do not work super well
          on white and black filament, since the complements try to match the brightness
          of the swatch in addition to the hue.
          <a href="https://www.ludd.ltu.se/~vk/docs/about_colours.shtml">Some</a>
          <a href="https://www.compuphase.com/cmetric.htm">resources</a>
          <a href="http://hanzratech.in/2015/01/16/color-difference-between-2-colors-using-python.html">that</a>
          <a href="https://stackoverflow.com/questions/8863810/python-find-similar-colors-best-way">might</a>
          <a
            href="http://answers.opencv.org/question/127885/how-can-i-best-compare-two-bgr-colors-to-determine-how-similardifferent-they-are/">be</a>
          <a href="https://www.alanzucconi.com/2015/09/30/colour-sorting/">interesting</a>.
        </p>

        <h4 id="i-want-to-help" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#i-want-to-help"
             aria-label="Permalink to I want to help!">#</a>
          I want to help!
        </h4>
        <p>
          Take a look at the <a href="{% url 'donations' %}">donations page</a> and send me an
          email at <a href="mailto:joe@filamentcolors.xyz">joe@filamentcolors.xyz</a> if you've
          got any questions!
        </p>

        <h4 id="what-runs-this-app" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#what-runs-this-app"
             aria-label="Permalink to What runs this app?">#</a>
          What runs this app?
        </h4>
        <p>
          This app is served on Digital Ocean, the backend is written in Python's Django
          framework, and the HTML / CSS is lovingly hand-written using Bootstrap as a guide.
          Cost wise, it doesn't take much -- just a few dollars every now and again. To offset
          that, I'm a member of the Amazon Affiliate program. Clicking on any of the "Buy on
          Amazon" links scattered throughout the app will provide a small kickback that I
          use solely for keeping the app running and occasionally buying sample packs to
          add new materials to the app.
        </p>

        <h4 id="can-i-print-the-swatches" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#can-i-print-the-swatches"
             aria-label="Permalink to Can I print the swatches and send them in?">#</a>
          Can I print the swatches and send them in?
        </h4>
        <p class="text-center">
          <img
            src="{% static 'wellyesbutactuallyno.jpg' %}"
            alt="A meme of a cartoon pirate saying 'Well yes, but actually no.'"
            class="img-fluid rounded"
          >
        </p>
        <p>
          Here's the deal: due to some folks ruining the fun for everyone, I am willing to
          take pre-printed swatches as long as you work with me first to make sure they're
          a good quality (and please don't be offended if I ask for filament cuttings per
          the normal donation process). If you want to give it a shot,
          <a href="{% url 'donations' %}">please find the process here</a>.
        </p>

        <h4 id="what-file-do-you-use" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#what-file-do-you-use"
             aria-label="Permalink to What file do you use?">#</a>
          What file do you use?
        </h4>
        <p>
          Looking for the file I use? Find it here:
          <a href="https://www.thingiverse.com/thing:664377" target="_blank" rel="noopener">https://www.thingiverse.com/thing:664377</a>
          (The link contains two versions: large and small. I use the small one for my samples.)
        </p>

        <h4 id="licensing" class="pt-4 d-flex align-items-center">
          <a class="me-2 small text-decoration-none link-secondary" href="#licensing"
             aria-label="Permalink to Licensing Information">#</a>
          Licensing Information
        </h4>
        <p>
          All the source code for this application,
          <a href="https://github.com/itsthejoker/filamentcolors.xyz">found on GitHub</a>,
          is licensed under the <a href="https://opensource.org/licenses/MIT">MIT license</a>.<br>
          All images, text, and data found on the production version of this app is licensed
          under <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0</a>.<br>
          Some icons on this site are courtesy of
          <a href="https://icons8.com" target="_blank" rel="noreferrer noopener">icons8</a>.
        </p>
      </div>
    </div>
  </div>

  <script>
    function setupAboutPage() {
      const $alertContainer = $("#alertContainer");
      let offset = $("#navbar").outerHeight();
      if ($alertContainer !== undefined && $alertContainer.length > 0) {
        offset += $alertContainer.outerHeight();
      }
      $("#outer-faq-list").css("top", offset + "px");
    }

    $(document).ready(function () {
      setupAboutPage()
    })

    htmx.onLoad(function (t) {
      setupAboutPage()
    })
  </script>
{% endblock content %}
