{% extends base_template %}
{% load static %}

{% block content %}
  <fc-colormatch>
  <div class="container mt-4">
    {% include 'partials/messages.partial' %}
    <h1>Color Match</h1>
    <p>
      Looking for a particular plastic in the library close to a color you have in mind?
      We have a few different ways to enter that color -- use whatever works
      best for you and we'll try to match it to a plastic! Results appear below!
    </p>
    <div class="row mt-4 mb-3">
      <div class="col-10 col-md-8 col-xl-6 mx-auto text-center" id="color-picker"
           style="border-radius:10px; border: 1px solid dimgrey">
        <div class="card card-frame mx-3 my-4">
          <div class="card-body">
            <form hx-target="#results"
                  hx-swap="innerHTML show:none"
                  hx-indicator="#colorMatchSpinner,.loaded-content"
                  hx-post="{% url 'colormatch' %}"
            >
              <div class="my-3">
                <label for="hex-input">Hex</label>
                <input type="text" id="hex-input" onchange="changeHexColorPicker()"
                       name="hex_color"
                       class="form-control text-center fs-5">
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="my-3">
                    <label for="red-input">Red</label>
                    <input type="text" id="red-input" value="69" onchange="changeRGBColorPicker()"
                           class="form-control text-center fs-6">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="green-input">Green</label>
                    <input type="text" id="green-input" value="255"
                           onchange="changeRGBColorPicker()"
                           class="form-control text-center fs-6">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="blue-input">Blue</label>
                    <input type="text" id="blue-input" value="193" onchange="changeRGBColorPicker()"
                           class="form-control text-center fs-6">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="my-3">
                    <label for="hue-input">Hue</label>
                    <input type="text" id="hue-input" value="160.000"
                           onchange="changeHSVColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="saturation-input">Saturation</label>
                    <input type="text" id="saturation-input" value="72.941"
                           onchange="changeHSVColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="value-input">Value</label>
                    <input type="text" id="value-input" value="100.000"
                           onchange="changeHSVColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-4">
                  <div class="my-3">
                    <label for="l-input">L</label>
                    <input type="text" id="l-input" value="89.973" onchange="changeLABColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="a-input">A</label>
                    <input type="text" id="a-input" value="-58.494"
                           onchange="changeLABColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
                <div class="col-4">
                  <div class="my-3">
                    <label for="b-input">B</label>
                    <input type="text" id="b-input" value="15.903"
                           onchange="changeLABColorPicker()"
                           class="form-control text-center">
                  </div>
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" class="btn btn-success mt-4">Search</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 mx-auto">
          <p class="text-body-secondary text-sm text-center mt-3">
            Disclaimer: the results are limited by the swatches we've been able
            to measure. As the library grows, the results will become more
            accurate. Exact matches are not guaranteed; please use your best
            judgement.
          </p>
        </div>
      </div>
    </div>
    {% include 'components/indicators/colormatch_spinner.partial' %}
    <div id="results" class="loaded-content">
      <h4>Results appear here!</h4>
      <p>
        Click the "Search" button above to see the results of your color match!
        If you find a color you like, you can click the "Grab" button that will
        be under the swatch to save it for later. Want more results? Check the
        settings page!
      </p>
    </div>
    <div id="saved_swatches" style="display: none">
      <hr class="container">
      <h4>Grab Bag</h4>
      <div id="saved_swatches_collection" class="row"></div>
      <div class="row container mt-3">
        <div class="col text-center">
          <a class="btn btn-outline-info"
             role="button"
             onclick="generateCollection()"
          >Create Collection</a>
        </div>
      </div>
    </div>
  </div>
  </fc-colormatch>
  <script src="{% static 'js/components/colormatch.js' %}" defer></script>

{% endblock content %}
