{% extends base_template %}

{% block content %}
  <div class="container mt-4" data-long-press-delay="300">
    {% include 'partials/messages.partial' %}
    {% if show_color_warning %}
      {% include 'partials/color-warning.partial' %}
    {% endif %}
    {% if h1_title %}
      <h1>{{ h1_title }}</h1>
    {% endif %}

    {% if show_search_bar and not show_collection_edit_button %}
      {% include 'partials/filter_bar.partial' with search_prefill=search_prefill %}
    {% endif %}
    {% if show_collection_edit_button %}
      {% include "partials/copy_url_to_clipboard_button.partial" %}
      {% include "partials/collection_edit_button.partial" %}
    {% endif %}
    <div id="swatch-container">
          {% include "partials/library_swatch_display.partial" %}
    </div>
  </div>

  {% include 'partials/multiselect_js.partial' %}
{% endblock content %}
