{% extends base_template %}

{% block content %}
  <div class="container mt-4" data-long-press-delay="300">
    {% include 'partials/messages.partial' %}
    {% if show_color_warning %}
      {% include 'components/alerts/color-warning.partial' %}
    {% endif %}
    {% if h1_title %}
      <h1>{{ h1_title }}</h1>
    {% endif %}

    {% if show_search_bar and not show_collection_edit_button %}
      {% include 'partials/filter_bar.partial' with search_prefill=search_prefill %}
      {% include 'components/alerts/hex_color_search_warning.partial' %}
    {% endif %}
    {% if show_collection_edit_button %}
      {% include "components/buttons/collection_edit_button.partial" %}
    {% endif %}
    {% include 'components/alerts/manufacturer_library_unavailable_swatches_notice.partial' %}
    <div id="swatch-container">
      {% include "partials/library_swatch_display.partial" %}
    </div>
  </div>

  {% include 'components/buttons/multiselect_button.partial' %}
{% endblock content %}
