{% extends base_template %}

{% block content %}
    <div class="container mt-4">
        {% if is_library_view %}
            {% include 'partials/filter_bar.partial' with search_prefill=search_prefill %}
        {% endif %}
        {% if show_collection_edit_button %}
            {% include "partials/collection_edit_button.partial" %}
        {% endif %}
        {% if swatches %}
            <div class="row" id="deck-of-many-things" data-masonry='{"percentPosition": true }'>
                {% for s in swatches %}
                    <div class="col-md-6 col-lg-4 col-xl-4 col-xxl-3">
                        {% include 'partials/card.partial' with obj=s %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="container text-center mt-5">
                <h4>Hmm... there doesn't appear to be anything here.</h4>
                <p></p>
                <h4>Did you change your settings?
                    Try adjusting the types that are shown in the library.</h4>
                <p></p>
                <div class="btn btn-primary btn-lg"
                     onclick="(function(){ $('#settingsModal').modal('show')})();" role="button">
                    Open Settings
                </div>
            </div>
        {% endif %}

    </div>
{% endblock content %}
