{% extends base_template %}
{% load static %}

{% block content %}
    <div class="container mt-4">
        <h1>Monetary Donations</h1>
        <p>
            FilamentColors.xyz is a labor of love for me, a passion project that I've
            dedicated countless hours to in order to help others bring their projects
            to life in the most vibrant and beautiful ways possible. From 3D printing
            enthusiasts to artists and designers, I've heard from so many people who
            have benefited from the site; are you one of them?
        </p>
        <p>
            But as much as I love running this site and providing this resource it's
            no secret that it takes a lot of time, energy, and money to keep it going.
            From server costs and equipment updates to the never-ending quest for new
            and exciting filaments, there are always expenses that need to be covered
            in order to keep FilamentColors.xyz alive and thriving. I pay for
            everything required to run this site out of pocket. Monetary donations
            help us in:
        </p>
        <ul>
            <li>finding more filament from across the world</li>
            <li>equipment maintenance & upgrades</li>
            <li>infrastructure maintenance & upgrades</li>
            <li>attending events to talk about the site</li>
        </ul>
        <p>
            If you've found value in FilamentColors.xyz, if it's helped you bring your
            projects to life in ways you never thought possible, or if you simply
            believe in the power of community and creativity, I would be incredibly
            grateful if you would consider making a donation to help keep this site
            alive. No amount is too small, and every little bit helps. Your contributions
            will go directly towards covering the costs of running and improving
            FilamentColors.xyz, allowing me to continue providing this valuable resource
            to all of you.
        </p>
        <p>
            So if you're able, please consider making a donation today. Your support
            means the world to me, and it will help ensure that FilamentColors.xyz can
            continue to be a source of inspiration and creativity for years to come.
        </p>
        <div class="row text-center">
            <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-6 col-md-12">
                <div class="d-grid">
                    <a href="https://donate.stripe.com/6oEcOkefd5oc1KU001" target="_blank"
                       class="btn btn-lg bg-gradient-primary">Stripe</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-6 col-md-12">
                <div class="d-grid">
                    <a href="https://www.patreon.com/bePatron?u=19146975" target="_blank"
                       class="btn btn-lg btn-secondary"
                       style="background: #f96854; border-color: #f96854; color: #ffffff">Patreon</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-3 col-md-0"></div>
            <div class="col-lg-6 col-md-12">
                <div class="d-grid">
                    <a href="https://ko-fi.com/joekaufeld" target="_blank" class="btn btn-lg bg-gradient-info">Ko-Fi</a>
                </div>
            </div>
            <div class="col-lg-3 col-md-0"></div>
        </div>
    </div>
{% endblock %}
