body {
    color: black;
    /*background: #eaeaea;*/
}

a {
    color: black;
    text-decoration: underline;
}

a:hover {
    color: black;
    text-decoration: underline;
}

.cardBox a:hover, .cardBox a:visited, .cardBox a:link, .cardBox a:active {
    text-decoration: None;
}

.navbar a:hover, .navbar a:visited, .navbar a:link, .navbar a:active {
    text-decoration: None;
}

.complement-box, .complement-box:hover {
    text-decoration: None;
}

.btn {
    text-decoration: None;
}

.card-text {
    color: black;
    text-decoration: None;
}

.item-page-header {
    position: relative;
    margin-bottom: 20px
}

.item-page-header .avatar-wrapper {
    width: 58px;
    height: 58px
}

.item-page-info {
    display: inline-block;
    color: #666;
    width: calc(100% - 70px)
}

.item-info {
    display: inline-block;
    height: 3em;
    left: 25px
}

.item-info > span {
    position: relative;
    left: 3em;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden
}

.item-info > a {
    position: absolute;
    left: 25px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #333
}

.app-card {
    display: inline-block;
    vertical-align: top;
    height: 280px;
    background: #fff;
    margin: 0 auto 30px;
    text-align: left
}

.app-card .cover {
    display: block;
    width: 100%;
    height: 225px;
    overflow: hidden;
    position: relative
}

.app-card .cover > img {
    width: 100%
}

.app-card .cover::after {
    content: '';
    display: inline-block;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 9
}

.app-card .item-info {
    height: 55px;
    padding: 5px 10px 0
}

.app-card .item-info .avatar-wrapper {
    vertical-align: middle;
    border: none
}

.app-card .item-name {
    display: inline-block;
    font-size: 12px;
    color: #333;
    margin: 0 0 0 12px;
    line-height: 1.25em;
    width: calc(100% - 58px);
    vertical-align: middle
}

.color-cube {
    float: left;
    width: 20px;
    height: 20px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    top: -3px;
    right: 5px;
    z-index: 0;
}

.color-cube-center {
    float: None;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-color-cube {
    width: 5em;
    height: 2em;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, .2);
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

/*Gallery for swatch detail page*/

.gallery-block.grid-gallery {
    padding-bottom: 60px;
    padding-top: 60px;
}

.gallery-block.grid-gallery .heading {
    margin-bottom: 50px;
    text-align: center;
}

.gallery-block.grid-gallery .heading > h2 {
    font-weight: bold;
    font-size: 1.4rem;
    text-transform: uppercase;
}

.gallery-block.grid-gallery > a:hover {
    opacity: 0.8;
}

.gallery-block.grid-gallery .item > img {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15);
    transition: 0.4s;
}

.gallery-block.grid-gallery .item {
    margin-bottom: 20px;
}

@media (min-width: 576px) {

    .gallery-block.grid-gallery .scale-on-hover:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15) !important;
    }
}

.border-between > [class*='col-']:before {
    background: #c6c6c6;
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    width: 1px;
    top: 0;
}

.border-between > [class*='col-']:first-child:before {
    display: none;
}

.kofi-button {
    margin-top: -3px;
}

.btn-info {
    color: #fff !important;
}

.btn-primary {
    color: #fff !important;
}

.btn-success {
    color: #fff !important;
}

.complement-box {
    padding: 8px;
    border-width: 2px;
    border-style: solid;
    border-color: grey;
    border-radius: 5px;
}

.invisibox {
    border-color: white;
}

.nav-item {
    padding-left: 25px;
}

.gray-background {
    background: #efefef;
    background-size: 1.4em;
    border-radius: 10px;
}

.bump-down {
    margin-top: 7px;
}

.table > td {
    text-align: center;
}

.table > th {
    border-top: None;
}

.card {
    position: relative
}

.multiselector {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    z-index: 10;
    opacity: 0;
    transition: visibility 0s 0.1s, opacity 0.1s linear;
}

.card-img-container {
    z-index: 0;
}


.layer {
    /*position: absolute;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*height: 400px;*/
    /*width: 400px;*/
}

.card-img-top {
    z-index: 0
}

.card-img-overlay {
    z-index: 1;
    pointer-events: none;
    display: none;
    transition: opacity 0.1s linear;
    background-image: url("https://img.icons8.com/cotton/30/000000/plus.png"),
    linear-gradient(
            to bottom,
            rgba(0, 0, 0, 0.26),
            transparent 30px,
            transparent);
    background-repeat: no-repeat, repeat;
    background-position: 6px 6px, 0 0;
    border-radius: .14em;
}

.card-img-top:hover ~ .card-img-overlay {
    display: block;
}

.multiselector:hover ~ .card-img-container .card-img-overlay {
    display: block
}

/* ----------------------------------------------
 * Generated by Animista on 2019-3-27 20:28:18
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left & slide-out-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-left {
    0% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@-webkit-keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}

@keyframes slide-out-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform: translateX(-1000px);
        transform: translateX(-1000px);
        opacity: 0;
    }
}


.slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-out-left {
    -webkit-animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: slide-out-left 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

.collection-buttons {
    position: fixed;
    bottom: 60%;
    left: 40px;
    width: 160px;
    z-index: 100;
}

#go-button {
    width: 100%;
}

#multiselect-badge {
    width: 100%;
    height: 38px;
}

#clear-button {
    width: 100%;
    background-color: white;
}

#clear-button:hover {
    background-color: #007bff;
}

.way-off-screen {
    bottom: -50%;
}

.big-shadow {
    -webkit-box-shadow: 0 0 74px -7px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 0 74px -7px rgba(0, 0, 0, 1);
    box-shadow: 0 0 74px -7px rgba(0, 0, 0, 1);
}

.anim {
    -webkit-transition: 75ms ease-in-out;
    -moz-transition: 75ms ease-in-out;
    -o-transition: 75ms ease-in-out;
}

/*For the navbar*/

.dropdown-toggle.active-dropdown::after {
    transform: rotate(-90deg);
}

#color-scheme-modal {
    padding: 2rem;
}

.welcome-experience-photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.btn-outline-secondary:not(.active):hover:active {
    background-color: white !important;
    color: #6c757d;
}

.btn-outline-secondary:not(.active):hover {
    background-color: white !important;
    color: #6c757d;
}

.fix-margin {
    margin-left: 0;
    margin-right: 0;
}
