name: Playwright Tests
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-python@v6
      with:
        python-version: 3.12
    - name: Run image
      uses: abatilo/actions-poetry@v3
      with:
        poetry-version: latest
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        poetry install --all-groups
    - name: Ensure browsers are installed
      run: poetry run playwright install --with-deps
    - name: Run your tests
      run: poetry run pytest filamentcolors/tests --tracing=retain-on-failure --runplaywright
    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-traces
        path: test-results/
